####################Front End VUE#################################
.DS_Store
node_modules
dist
cache
.temp
# local env files
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.obsidian
.trash
.vs
.idea
*.ntvs*
*.njsproj
*.sw?

package-lock.json
*.lock
.fleet
.history
.idea
*.log
.temp